.card {
  background-color: #202329;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .header {
    position: absolute;
    inset: auto 0 0;
    color: #202329;
    font-size: 1.5rem;
    font-weight: bold;
    h3 {
      margin: 0.5rem 0;
      line-height: 1.1;
      filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.85));
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.3s ease;
    .header {
      inset: 0 0 auto;
      margin: 0.5rem 0;
      h3 {
        font-size: 75%;
      }
    }
    p {
      margin: 0.25rem 0;
      text-align: start;
    }
  }
  &:hover .info {
    opacity: 1;
    background-color: rgba(32, 35, 41, 0.85);
    backdrop-filter: blur(5px);
    user-select: auto;
    cursor: pointer;
  }
}
