.searchBox {
  width: 30%;
  margin: 0 0 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  span {
    color: #888;
    padding: 0;
    margin: 0 0 0.5rem;
    display: inline-block;
  }
  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 0 0.5rem 2px #d16fd38f;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background: none;
    transition: all 0.25s;
    &:focus{
        box-shadow: 0 0 0.5rem 2px #d16fd3;
    }
  }
}
