@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.skeleton {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .react-loading-skeleton {
    --base-color: #2a2d32;
    --highlight-color: #3b3f46;
  }
}
td.skeleton{
  display: table-cell;
}

.section {
  max-width: 120rem;
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  padding: 0 4rem;
  width: 100%;
  box-sizing: border-box;
  &.character .container{
    flex-direction: row;
    gap: 2rem;
    align-items: normal;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
  }
  h2 {
    font-family: "Bangers", system-ui;
    font-size: 3rem;
    margin: 0 0 2rem;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

@media screen and (max-width: 75rem) {
  html{
    font-size: 80%;
  }
}

@media screen and (max-width: 60rem) {
  html{
    font-size: 70%;
  }
}

@media screen and (max-width: 48rem) {
  html{
    font-size: 65%;
  }
}

@media screen and (max-width: 42rem) {
  html{
    font-size: 50%;
  }
}

@media screen and (max-width: 36rem) {
  html{
    font-size: 40%;
  }
  .section.character{
    margin-top: 4rem;
    .container{
    flex-direction: column-reverse;

  }
  }
}
